/* .photography{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    background-image: linear-gradient(rgba(0,0,0,0.80),rgba(0,0,0,0.80)),url('../../../assets/photo/photography-bg.jpg');
} */



.photography span{
    color: #ccc;
    background: rgb(2,0,36) ;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(136,31,120,1) 0%, rgba(210,31,74,0.966999299719888) 93%);
}

.photography img{
    background-size: cover;
    background-position: center;
    object-fit: cover;
    border-radius: 50px;
    width: 200px;
    height: 250px;
    
}

@media (max-width:480px) {
    .slider-container  div{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        
    }
}

@media (max-width:568px) {
    .photography .arrow{
        top: 26%;
    }
}