 .contact .span{
    color: #ccc;
    background: rgb(2,0,36) ;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(136,31,120,1) 0%, rgba(210,31,74,0.966999299719888) 93%);
}
.contact {
    animation: fadeIn linear;
    animation-timeline: view();
    animation-range: entry 1% cover;
    flex: 1;
    min-width: fit-content;
}
.contact-left{
    
    line-height: 60px;
}
.icons .bx{
    color: #ccc;
    
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(136,31,120,1) 0%, rgba(210,31,74,0.966999299719888) 93%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-left h1{
    font-weight: 600;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(241, 146, 4) 0%, rgba(210,31,74,0.966999299719888) 93%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-right{
   
    line-height: 60px;
}

.contact-right input{
    width: 500px;
    
    background: #1e1f45;
    border: none;
    outline: none;
    height: 50px;
    padding-left: 10px;
}
.contact-right input::placeholder, textarea::placeholder{
    font-size: 15px;
}
.contact-right textarea{
    width: 500px;
    background: #1e1f45;
    border: none;
    outline: none;
    padding-left: 10px;
}
.contact-right .btn{
    padding: 5px 10px !important;
    padding-bottom: 20px;
    height: 60px;
    
    background: white;
    
    border-radius: 8px;
    font-size: 14px;
    
    
}
.contact-right h4{
    font-size: 18px;
}



@media (max-width:766px) {
    .contact-right input{
        width: 90%;
        margin-right: 10px;
    }
    .contact-right textarea{
        width: 90%;
    }
}